.site-container{
  text-align: center;
}
html {
  font-size: 14px;
}
body {
  line-height: 1.5;
  color: black;
  margin:0;
} 
.three-dots{
  margin-left: 90%;
}
.text-muted{
  text-align: left;
  background-color: white;
  margin-left: 7%;
  margin-right: 7%;
}
.like-button{
  border: none;
  background-color: white;
}
.date-created{
  margin-left: 70%;
}
.location{
  color: gray;
}
